<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Jersey Rest API</display-name>

    <context-param>
       <param-name>contextConfigLocation</param-name>
	   <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    
	  <listener>
		   <listener-class>
			  org.springframework.web.context.ContextLoaderListener
		   </listener-class>
	  </listener>

	 
    <servlet>
        <servlet-name>JerseyServlet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.spring.container.servlet.SpringServlet
        </servlet-class>
        
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.rest.attendance.service.impl,com.rest.attendance.controller</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>JerseyServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- 
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <env-entry>
        <env-entry-name>appName</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Jersey-rest-api</env-entry-value>
    </env-entry>
 -->
 
</web-app>